<section>
  <div class="container">
  <div class="recuadro">
    <h5 class="texto1">HARD Y SOFT SKILLS</h5>
  </div>
  <div class="row cuadro titulos">
    <div class="col-xs col-sm col-md col-lg"><b>MANEJO DE TECNOLOGÍAS</b></div>
  </div>
  <br>
  <div class="container">
       <div class="row">
           <div class="col-xs-12 col-sm-6 col-md col-lg">
           <circle-progress
           [percent]="85"
           [radius]="75"
           [title]="'HTML 85'"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#1565c0'"
           [innerStrokeColor]="'#aed6f1'"
           [animation]="true"
           [animationDuration]="300"
          ></circle-progress>
       
       
        <circle-progress
        [percent]="65"
        [radius]="75"
        [title]="'CSS 65'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#1565c0'"
        [innerStrokeColor]="'#aed6f1'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
       
        
      <circle-progress
      [percent]="85"
      [radius]="75"
      [title]="'JS 85'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#1565c0'"
      [innerStrokeColor]="'#aed6f1'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
      <circle-progress

      [percent]="95"
      [radius]="75"
      [title]="'Teamwork95'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#1565c0'"
      [innerStrokeColor]="'#aed6f1'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress> 

           </div>
           <div class="col-xs-12 col-sm-6 col-md col-lg">
    
       <circle-progress
       [percent]="85"
       [radius]="75"
       [title]="'Angular85'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'#1565c0'"
       [innerStrokeColor]="'#aed6f1'"
       [animation]="true"
       [animationDuration]="300"
       ></circle-progress>
   
    
       <circle-progress
       [percent]="70"
       [radius]="75"
       [title]="'MySQL 70'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'#1565c0'"
       [innerStrokeColor]="'#aed6f1'"
       [animation]="true"
       [animationDuration]="300"
       ></circle-progress>
   
   
    <circle-progress
    [percent]="65"
    [radius]="75"
    [title]="'BS 65'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1565c0'"
    [innerStrokeColor]="'#aed6f1'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    <circle-progress
    [percent]="60"
    [radius]="75"
    [title]="'English 60'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1565c0'"
    [innerStrokeColor]="'#aed6f1'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
   

           </div>
       </div>
  </div>
  </div>
</section>
    <!--<div class="container">
     <div style="text-align: center">
          <h2>Hard y Soft Skills</h2>
     </div>
     <br>
     <br>
       <div class="row">
           <div class="col-3">
               <img class="logos" src="assets/imagenes/iconohtml.png">
           </div>
           <div class="col-9 centrar1">
             <div style="text-align: center;">HTML 75%</div>
             <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
             </div>
           </div>
       </div>
         <div class="row">
           <div class="col-3">
             <img class="logos" src="assets/imagenes/css-icons.png">
           </div>
          <div class="col-9 centrar1">
           <div style="text-align: center;">CSS 60%</div>
              <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
              </div>
           </div>
         </div>
         <div class="row">
             <div class="col-3">
               <img class="logos" src="assets/imagenes/java-icons.png">
             </div>
            <div class="col-9 centrar1">
             <div style="text-align: center;">JS 85%</div>
                <div class="progress">
                   <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                </div>
             </div>
           </div>
           <div class="row">
             <div class="col-3">
               <img class="logos" src="assets/imagenes/boostrap-icons.jpg">
             </div>
            <div class="col-9 centrar1">
             <div style="text-align: center;">BOOSTRAP 50%</div>
                <div class="progress">
                   <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                </div>
             </div>
           </div>
    </div>-->
   
